body {
    font-family 
    color: ; 
    background-color: ;
}

.filters-button {
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-box: 24px;
}

.filters-button:hover,
.filters-button:focus {
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

