:root {
}
/* BASE STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  font-size: 16px;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.pages-list,
.list {
  list-style-type: none;
  font-style: normal;
}

.pages-list-item {
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* FILTERS STYLES */

.filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.filter-title {
  display: none;
}

.filter-list {
  list-style-type: none;
}

.filter-list-item {
  border-radius: 4px;
}

.filters-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  color: #4d5ae5;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}

.filters-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background-color: var(--cloud, #f4f4fd);
  color: #4d5ae5;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:hover {
  background-color: #404bbf;
  color: white;
}

/* ROW STYLES */
