:root {
  --iris: #4d5ae5;
  --white: #fff;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
}
/* BASE STYLES */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-style: normal;
  font-size: 16px;
  background-color: var(--white, #fff);
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-dark {
  color: var(--navyblue, #2e2f42);
}

.header-logo-white {
  color: var(--cloud, #f4f4fd);
}

.pages-list,
.list {
  list-style-type: none;
  font-style: normal;
}

.pages-list-item {
  color: var(--navyblue, #2e2f42);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FILTERS STYLES */

.filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.filter-title {
  display: none;
}

.filter-list {
  list-style-type: none;
}

.filter-list-item {
  border-radius: 4px;
}

.filters-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background-color: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:hover {
  background-color: #404bbf;
  color: white;
}

/* ROW STYLES */

.card-title {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
}
.cadr-text {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */
.footer {
  background-color: var(--navyblue, #2e2f42);
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
